body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

header {
    background-color: #0a3d62;
    color: white;
    padding: 25px 10px;
}

main {
    padding: 30px;
}

.center-image {
    max-width: 700px;
    width: 90%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

footer {
    background-color: #0a3d62;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
